@charset "UTF-8";

/* 共通
-------------------- */
html {
  font-size: 100%;
  box-sizing: border-box;
  color: #484848;
}
body {
  font-family: "Circular", -apple-system, "BlinkMacSystemFont", "Roboto", "Helvetica Neue", "sans-serif";
}
.pc {
  display: none;
}
i.fas {
-webkit-font-smoothing:antialiased;
-webkit-text-stroke-color:#fff;
-webkit-text-stroke-width:1px
}
ul {
  list-style: none;
}
input:focus,
select:focus {
  border: 1px solid #469196;
  outline:0;
}
select {
  border-radius: 4px;
}
.header-link a {
  text-decoration: none;
  color: #484848;
}
.link {
  text-decoration: none;
  color: #008489;
  transition: text-decoration-lilne 250ms ease;
}
.link:hover {
  text-decoration-line: underline;
}
.wrapper {
  width: 100%;
  margin: 0 auto; /* 横幅が大きい画面サイズでも不自然にならないようにわざと指定 */
  padding: 0 1.5rem; /* 横幅が大きい画面サイズでも不自然にならないようにわざと指定 */
  box-sizing: border-box;
}
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.subject {
  text-align: left;
  margin-bottom: 3rem;
}
.subject-decoration {
  width: 64px;
  border-bottom: 2px #484848 solid;
  margin-bottom: 1.5rem;
}
.subject-content {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.09rem;
  color: #333;
}
.sub-title {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.25;
  color: #484848;
}

/* ヘッダー
-------------------- */
.main-menu {
  width: 100%;
  height: 100vh;
  font-size: 0.875rem;
  position: fixed;
  top: -100%;
  left: 0;
  background: #fff;
  transition: top 250ms ease;
}
.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 30px;
}
nav{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  padding: 4rem 0 0 1rem;
}
.main-navigation > li:hover {
  text-decoration-line: underline;
}
.logo {
  color: #fff;
}
.begin {
  display: block;
  width: 88px;
  height: 34px;
  color: #fff;
  background: #e64051;
  border-radius: 8px;
  align-self: center;
}
.top-begin {
  display: none;
}
.js-fixed-button {
  display: block;
  position: fixed;
  bottom: 2%;
  right: 5%;
}
.page-name {
  color: #469196;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 1rem;
}
.page-name > li {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #008984;
}
.airbnb-icon-wrapper {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 3;
}
.airbnb-icon {
  display: inline-block;
  font-size: 27px; /* font-awesomeのサイズ */
}
.airbnb-icon::after {
  content: "";
  display: inline-block;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  width: 5px;
  height: 5px;
  position: relative;
  left: 5px;
  color: #fff;
  transition: transform 250ms ease;
}
#check-hamburger {
  position: absolute;
  top:0;
  left: -50vh;
}
#check-hamburger:checked ~ .main-menu {
  top: 0;
  z-index: 2;
}
/* ロゴがクリックされた時にロゴの色を変える */
#check-hamburger:checked ~ .airbnb-icon-wrapper .airbnb-icon
i.logo {
  color: #008489;
}
/* ロゴがクリックされた時に、ロゴの横の矢印の方向を変える */
#check-hamburger:checked ~ .airbnb-icon-wrapper .airbnb-icon::after {
  border-left: 1px solid #008489;
  border-bottom: 1px solid #008489;
  transform: rotate(-225deg);
}
/* drawerメニューのコンテンツの位置調整 */
.header-link {
  display: flex;
  align-items: center;
  height: 3rem;
  font-weight: 600;
}
.js-header-hidden {
  opacity: 0;
  position: fixed;
  background: #fff;
  width: 100%;
  height: 50px;
  padding-left: 1.5rem;
  font-size: 0.875rem;
  z-index: 2;
  transition: all 300ms ease;
}
.js-header-show {
 opacity: 1;
}
.js-main-navigation {
  display: flex;
  justify-content: flex-start;
}
.js-header-link:not(:last-child)::after {
  content: "・";
  margin: 0 4px 0 4px;
  color: #484848;
}

/* 大きな背景画像
-------------------- */
.main-bg {
  background-image: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),url("../images/main-bg.jpg");
  width: 100%;
  min-height: 220px;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  margin-bottom: 1rem;
  overflow: hidden;
}

/* トップフレーズ
-------------------- */
.top-phrase-wrapper {
  width: 100%;
  color: #fff;
  padding: 23vh 4% 3%;
}
.top-phrase {
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 2.15rem;
  margin-bottom: 1rem;
}

/* フォーム
------------------- */
.area,
.room-type,
.capacity {
  margin-top: 8px;
  padding: 0.375rem;
  border-radius: 4px;
  border: 1px #eee solid;
  width: 100%;  
  line-height: 1.5;
  font-size: 0.875rem;
}
.host-form {
  margin-bottom: 3rem;
}
.area {
  display: block;
  margin-bottom: 10px;
}
.selectors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.room-type-wrapper {
  width: 100%;
  position: relative;
}
.room-type-wrapper::after {
  content: '';
  width: 12px;
  height: 12px;
  border: 0px;
  border-bottom: solid 2px #484848;
  border-right: solid 2px #484848;
  transform: rotate(45deg);
  position: absolute;
  top: 32%;
  right: 20px;
}
.form-instruction {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 600;
}
.room-type {
  line-height: 24px;
  width: 100%;
  color: #888;
  margin-right: 10px;
  display: block;
  background: transparent;
}
.capacity-wrapper {
  width: 100%;
  position: relative;
}
.capacity-wrapper::after {
  content: '';
  width: 12px;
  height: 12px;
  border: 0px;
  border-bottom: solid 2px #484848;
  border-right: solid 2px #484848;
  transform: rotate(45deg);
  position: absolute;
  top: 32%;
  right: 20px;
}
.capacity {
  line-height: 24px;
  width: 100%;
  color: #888;
  display: block;
  background: transparent;
}
.start-searching {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  padding: 13px 0;
}

/* セールスポイント
-------------------- */
.sales-points {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.point {
  width: 100%;
  margin-bottom: 3rem;
}
.description {
  margin: 1rem 0;
  line-height: 1.75;
  color: #484848;
  font-size: 1rem;
}

/* ホストになる3ステップ
------------------ */
.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmx(100%, 1fr));
  justify-content: space-between;
  margin-bottom: 5rem;
}
.step {
  margin-bottom: 2rem;
  box-sizing: border-box;
}
.check-sign {
  margin-bottom: 16px;
  width: 48px;
  height: 48ox;
}
.step-title {
  color: #484848;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.25;
}
.step-content {
  margin: 1rem 0;
  line-height: 1.375;
  color: #484848;
}

/* お客様の声
------------------ */
.dennis-comment {
  order: 2;
}
.dennis-photo {
  order: 1;
}
.customer-review {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  justify-content: space-between;
  margin-bottom: 6rem;
}
.customer-photo img {
  max-width: 100%;
  height: 100%;
}
.review-content {
  width: 100%;
  padding-top: 1rem;
}
.tessa-review {
  margin-bottom: 96px;
}
.tessa-review-content {
  margin-left: auto;
  /* padding-top: 100px; */
}
.quote {
  color: #fdb32b;
  margin-bottom: 5px;
}
.message {
  font-size: 1.125rem;
  font-weight: 50;
  color: #484848;
  line-height: 1.4;
}
.extra-information {
  margin: 1rem 0;
}
.information {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.28;
  color: #767676;
}
.practice-case-link {
  width: 224px;
  height: 48px;
  border-radius: 4px;
  border: 2px #484848 solid;
}

/* 保証・保険
------------------- */
.insurance-section   {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  justify-content: space-between;
  margin-bottom: 3rem;
}
.explanation {
  width: 100%;
  margin-bottom: 2rem;
}
.explanation-content {
  margin: 1rem 0;
  line-height: 1.375;
  font-size: 1rem;
}
.check {
  color: #008489;
  margin-right: 1rem;
}
.insurance-list li {
  margin-bottom: 1rem;
  line-height: 1.75rem;
}

/* 真ん中のDennisさんの写真
--------------------- */
.cleaning-house-wrapper {
  margin-bottom: 6rem;
}
.cleaning-house {
  width: 90vw;
  height: 90vw;
  object-fit: cover;
}

/* シンプルな決済
------------------ */
.payment-feature-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  grid-gap: 2rem;
  margin-bottom: 6rem;
}
.payment-feature-title {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.25;
  color: #484848;
  padding: 2px 0;
}
.payment-feature-content {
  font-size: 1rem;
  font-weight: 400;
  color: #484848;
  line-height: 1.375;
  margin: 1rem 0;
}

/* Airbnbについて
-------------------- */
.what-is-airbnb-section {
  margin-bottom: 6rem;
}
.explanations-of-airbnb {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  justify-content: stretch;
  grid-gap: 3rem;
}
.explanation-title {
  line-height: 1.25rem;
  font-size: 1.5rem;
  color: #484848;
  padding: 0.125rem 0;
  margin-bottom: 1rem;
}

/* よくある質問
-------------------- */
.questions {
  display: grid;
  grid: repeat(auto-fit, 1fr) / repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 1.5rem 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
.question {
  display: block;
  font-size: 1rem;
  line-height: 1.625;
  padding-top: 1.5rem;
}
.question::after {
  display: block;
  position: relative;
  top: 25px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}

/* ホスティングの詳細はこちら
-------------------- */
.hosting-detail {
  margin-bottom: 16px;
  font-size: 1.5rem;
}
.details {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  margin-bottom: 6rem;
  grid-gap: 1rem;
}
.detail {
  position: relative;
  z-index: 1;
  color: #484848;
  display: flex;
  border: 1px solid rgba(0 , 0, 0, .1);
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .06);
}
.detail-image {
  object-fit: cover;
}
.detail-scripts {
  text-align: left;
  margin: 0.625rem 1rem;
}
.detail-title {
  font-weight: 800;
  line-height: 1.125;
  margin-bottom: 2px;
  font-size: 0.875rem;
}
.detail-content {
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 22px;
}
.more-detail {
  font-weight: 300;
  font-size: 14px;
}
.sp-more-detail {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 収益化してみますか？
------------------- */
.closing-image-wrapper {
  background-image: url("../images/closing-image.jpg");
  max-width: 100vw;
  height: 23.4375rem;
  object-fit: cover;
  margin: 0 auto 64px;
  background-position: center center;
  background-size: cover;
}
.monetize-wrapper {
  max-width: 100%;
  position: relative;
  top: 4rem;
  padding: 0 2rem;
}
.monetize-message {
  font-size: 2.375rem;
  line-height: 2.75rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1.5rem;
  letter-spacing: -2.5px;
  letter-spacing: 0.1rem;
}
.start-monetizing-button {
  display: inline-block;
  text-align: center;
  padding: 10px 22px;
  background: #fff;
  color: #484848;
  border-radius: 4px;
  line-height: 24px;
  font-weight: 800;
  border: 2px transparent solid;
}

/* フッター
-------------- */
footer {
  padding-top: 2rem;
  background: #f7f7f7;
}
.footer-above {
  max-width: 1440px;
  padding: 0 1.5rem;
  display: grid;
  grid: 1fr / repeat(auto-fit, minmax(100%, 1fr));
  justify-content: space-between;
  color: #222;
  font-size: 12px;
}
.footer-above-parts {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
}
.footer-above-title {
}
.footer-link-items {
  margin-top: 0.75rem;
}
.footer-link {
  text-decoration: none;
  color: #222;
  line-height: 1.2rem;
  font-size: 0.875rem;
  transition: text-decoration-line 250ms ease;
}
.footer-link:hover {
  text-decoration-line: underline;
}
.footer-below {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse  ;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}
.footer-below a {
  color: #484848;
  text-decoration: none;
  font-size: 14px;
}
.company-detail-line {
  display: block;
}
.company-details {
  transition: text-decoration-line 250ms ease;
}
.company-details:hover {
  text-decoration-line: underline;
}
.copyright-wrapper {
  line-height: 1;
}
.copyright {
  display: block;
  font-size: 0.875rem;
}
.copyright-link {
  display: inline;
  list-style-type: disc;
}
.copyright-link-items {
  line-height: 1.5;
  display: inline;
  transition: text-decoration-line 250ms ease;
}
.copyright-link-items a:hover {
  text-decoration-line: underline;
}
.international {
  display: block;
  margin-bottom: 1rem;
}
.international a {
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 32px;
  line-height: 0.875rem;
  text-decoration-line: underline;
}
.lang {
  margin-right: 24px;
}
.lang-icon {
  margin-right: 8px;
}
.sns {
  margin-left: 16px;
}
.sns-icon:not(:last-child) {
  margin-right: 24px;
}