@charset "UTG-8";

/* 共通
-------------------- */
html {
  font-size: 100%;
  box-sizing: border-box;
  color: #484848;
}
body {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #484848;
}
.wrapper {
  max-width: 1080px;
  margin: 0 auto; /* 横幅が大きい画面サイズでも不自然にならないようにわざと指定 */
  padding: 0 2%; /* 横幅が大きい画面サイズでも不自然にならないようにわざと指定 */
}
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.sub-title {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.875;
  color: #484848;
}

/* ヘッダー
-------------------- */
.main-menu {
  display: flex;
  width: 100%;
  height: 82px;
  font-size: 0.875rem;
  justify-content: space-between;
}
.menu {
  display: flex;
}
.main-navigation {
  display: flex;
  width: 318px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left:15px;
}
.main-navigation > li:hover {
  text-decoration-line: underline;
}
.logo {
  margin: 17px 0 0 20px;
}
.begin {
  display: block;
  width: 88px;
  height: 34px;
  color: #fff;
  background: #e64051;
  border-radius: 8px;
  align-self: center;
}
.page-name {
  color: #469196;
  border-bottom: 2px #469196 solid;
}

/* 大きな背景画像
-------------------- */
.main-bg {
  background-image: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),url("../images/main-bg.jpg");
  width: 100%;
  min-height: 600px;
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 64px;
}

/* ホストの検索ボックス
-------------------- */
.house-form {
  background: #fff;
  max-width: 460px;
  padding: 32px;
  border-radius: 4px;
  margin: 78px 92px 0 0;
}
.house-form h2 {
  font-size: 39px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 24px;
  color: #484848;
}
.house-form p {
  font-size: 1rem;
  color: #484848;
  line-height: 1.375rem;
  font-weight: 600;
  padding-left: 2px;
  margin-bottom: 5px;
}

/* フォーム
------------------- */
.area,
.room-type,
.capacity {
  padding: 11px;
  border-radius: 4px;
  border: 1px #eee solid;
  width: 100%;
  line-height: 1.5;
}
.area {
  display: block;
  margin-bottom: 10px;
}
.selectors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.room-type {
  line-height: 24px;
  width: 57%;
  color: #888;
  margin-right: 10px;
  display: block;
  background: transparent;
}
.capacity {
  line-height: 24px;
  width: 38%;
  color: #888;
  display: block;
  background: transparent;
}
.start-searching {
  width: 100%;
  height: 100%;
  padding: 13px 0;
}

/* セールスポイント
-------------------- */
.sales-points {
  display: flex;
  justify-content: flex-start;
}
.point {
  margin-right: 64px;
  width: 444px;
}
.description {
  margin-top: 10px;
  line-height: 1.75;
  color: #484848;
}
